@media (max-width: 767px) {

  .player-styling {
    gap: 0.6rem;
    width: 100%;

    .episode.current {
      .episode-items::before {
        border-radius: 0%;
        filter: blur(15px) brightness(1.8);
      }
    }

    .episode-items {
      width: 9.2rem;
      min-height: unset;
    }

    .episode-items::before {
      top: 8%;
      height: 80%;
      filter: blur(10px) brightness(0.8);
    }

    .episode-items h3 {
      font-size: 0.75rem;
      line-height: 12px;
    }

    .episode-info {
      margin-top: 6px;
    }
  }

  .watch-page {
    color: var(--font-color1);
    padding: 0rem;
    justify-content: flex-start;
    gap: 0rem;
  }

  .watch-page .now-playing {
    line-height: normal;
    height: fit-content;
    margin-left: 0;
    padding: 12px 0 0 0.6rem;
  }

  .now-playing h2 {
    font-size: 1.18rem;
    margin: 0;
    align-content: flex-start;
  }

  .now-playing h4 {
    font-size: 0.875rem;
  }

  .player-container {
    width: 100%;
    margin: 0;
    align-content: flex-start;
  }

  .player {
    width: 100%;
    aspect-ratio: 16 / 8;
    min-height: 16.2rem;
    max-height: 24rem;
    border-radius: 0;
    box-shadow: none;
  }

  .iframe-container {
    padding: 0.6rem 0;
  }

  iframe {
    width: calc(100% * 1.25);
    height: calc(100% * 1.25);
    zoom: 0.8;
    transform: scale(0.8);
    transform-origin: 0 0;
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }

  iframe.zoom {
    width: calc(100% * 2.22);
    height: calc(100% * 2.22);
    transform: scale(0.45);
    transform-origin: 0 0;
    -moz-transform: scale(0.45);
    -o-transform: scale(0.45);
    -webkit-transform: scale(0.45);
  }

  .loading {
    height: calc(100% - 1.94em);
    font-size: 1.2rem;
  }

  .providers.show {
    padding: 10px;
    max-height: 185px;
  }

  .providers {
    width: 136px;
    border-radius: 10px;

    .pv-header {
      gap: 2px;
    }

    h4 {
      font-size: 14px;
    }
  
    hr {
      margin: 4px 0px;
    }
  
    .close-btn {
      height: 20px;
      padding: 2px;
    }

    .provider-list {
      padding-top: 2px;
    }
  }

  .provider {
    font-size: 10px;
    height: 22px;
    
    .provider-name {
      font-weight: unset;
      margin: 0px 6px;
    }
  }

  .provider-settings {
    margin: 0px 6px;
    gap: 6px;

    .switch-buttons {
      width: 18px;
    }
    .switch {
      height: 6px;
    }
    .switch.active {
      outline: 3px solid var(--success);
    }
  }

  .player-toolbar {
    width: 100%;
    border-radius: 0;
    align-content: center;
  }

  .player-episodes {
    height: auto;
    max-width: 100%;
    padding: 0.4rem 0.6rem;
    margin-top: unset;
 
    .tv-actions {
      margin: unset;
    }
    .seasons-menu {
      padding: 0 0 0.4rem;
    }
    
    .seasons-menu select {
      border: none;
      background-color: transparent;
      box-shadow: none;
      height: unset;
      font-weight: 600;
      font-size: 0.875rem;
      padding: 0rem 1rem 0rem 0rem;
      background-size: 12px;
      background-repeat: no-repeat;
      background-position: 100% 50%;
    }

    .season-info {
      margin: unset ;
    }
  }
}