/* Style inside player */
.player-styling {
  position: relative;
  padding-bottom: 0.24rem;
  height: 100%;
  overflow-x: auto;
  overflow-y: visible;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  border-radius: var(--border-radius1);
  mask-image: linear-gradient(to right, black 95%, #000000c4 97%, transparent);
  transition: mask-image 0.3s ease-in-out !important;
}

.player-styling::after {
  display: none;
}

.player-styling:focus-visible {
  border: 2px inset var(--font-color1);
}

.player-styling {
  .episode-width {
    min-width: unset;
    max-width: fit-content;
  }
 .episode {
    all: unset;
    height: 100%;
    scroll-snap-align: start;
  }

  .episode:hover, .episode:has(.episode-items img:focus-visible) {
    .episode-items img {
      scale: 0.97;
    }
  }

  .episode.current {
    img {
      border: 1px solid var(--color1);
    }

    .episode-items::before {
      filter: blur(30px) brightness(2);
    }
    
    .episode-items {
      filter: saturate(1);
      opacity: 1;
    }
  }

  .episode-items {
    all: unset;
    display: block;
    width: 15rem;
    min-height: 8.4rem;
    filter: saturate(0.8);
    opacity: 0.8;
    transition: filter 0.2s;
  }

  .episode-items::before {
    content: "";
    position: absolute;
    top: 2%;
    left: 0;
    width: 100%;
    height: 90%;
    border-radius: 20%;
    background: #30303d;
    filter: blur(30px) brightness(0.75);
    z-index: -1;
    transform: scale(0.7);
  }

  .episode-items img {
    width: 100%;
    border-radius: var(--border-radius1);
    border: 1px solid var(--color3);
    transition: border 0.2s ;
    scale: unset;
    transition: scale 0.2s ease-in-out;
  }

  .episode-items img:focus-visible {
    outline: 2px inset var(--font-color1);
  }

  .episode-items h3 {
    font-size: 0.875rem;
    line-height: 0.96rem;
    margin: 0;
  }

 .episode-items p {
    all: unset;
    display: none;
  }

 .episode-overview {
  display: none;
  }
}



/* player */

.watch-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--font-color1);
  padding: 1.2rem 1rem;
  gap: 1.2rem;
  width: 100%;
}


.watch-page .now-playing {
  line-height: 2rem;
  margin-right: auto;
  margin-left: 8%;
}

.now-playing h2 {
  font-size: 2rem;
}

.now-playing h4 {
  font-size: 1.2rem;
  color: var(--font-color3);
}

.player-container {
  margin-top: 0.2rem;
  width: 100%;
  align-content: center;
}

.player {
  display: flex;
  position: relative;
  flex-direction: column;
  aspect-ratio: 16 / 8;
  width: 84%;
  margin: auto;
  border-radius: var(--border-radius1);
  background-color: #000;
  overflow: hidden;
}

.loading {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100% - 2.36rem);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #383852;
  color: var(--font-color1);
  font-size: 1.5rem;
}

.iframe-container {
  width: 100%;
  height: calc(100% - 2rem);
  z-index: 0;
  overflow: hidden;
}

iframe {
  position: relative;
  width: calc(100% * 1.114);
  height: calc(100% * 1.114);
  transform: scale(0.9);
  transform-origin: 0 0;
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  -webkit-transform: scale(0.9);
}

iframe.zoom {
  width: calc(100% * 1.515);
  height: calc(100% * 1.515);
  transform: scale(0.66);
  transform-origin: 0 0;
  -moz-transform: scale(0.66);
  -o-transform: scale(0.66);
  -webkit-transform: scale(0.66);
}

.player-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2.4rem;
  background-color: var(--color3);
  border-radius: 0 0 5px 5px;
  align-content: center;
}

.player-toolbar button {
  aspect-ratio: 1 / 1;
  height: calc(100% - ( 0.375rem * 2));
  margin: 0.375rem;
  font-size: 0.875rem;
  color: var(--font-color1);
  cursor: pointer;
  border-radius: var(--border-radius2);
}

.iframe-exit {
  opacity: 0;
  top: 2%;
  right: 2%;
  position: absolute;
  z-index: 1000;
  width: 2rem;
  aspect-ratio: 1 / 1;
  border-radius: var(--border-radius2) ;
  transition: opacity 0.25s, top 0.25s ease-in-out;
}

.iframe-exit.hidden {
  top: 0%;
  opacity: 0 !important;
}

.iframe-exit.hidden:hover {
    top: 2%;
    opacity: 1 !important;
}


.player-episodes {
  position: relative;
  float: left;
  height: auto;
  width: 100%;
  padding: 0 8%;

  .seasons-menu select {
    background-color: #30303d77;
  }

  .season-info {
    margin: 12px 0;
  }
}

/* Dropdown container */
.provider-menu {
  position: relative;
  width: fit-content;
  height: 100%;
}

/* Dropdown content */
.providers {
  position: absolute;
  bottom: calc(100% + var(--padding1));
  left: var(--padding1);
  width: 10rem;
  max-height: 0px; /* Responsive height */
  opacity: 0;
  overflow: auto;
  outline: 1px solid transparent;
  background-color: #141427;
  border-radius: var(--border-radius2);
  transition: max-height 0.25s, outline 0.25s ease-in-out;
}

.provider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  color: var(--font-color1);
  margin: 0.25rem;
  border-radius: var(--border-radius2);
  cursor: pointer;
  transition: background-color 0.25s, opacity 0.25s ease-in-out;
  font-size: 0.8125rem;
  .provider-name {
    margin: 0.375rem;
  }
  p {
    opacity: inherit;
  }
}

.provider-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.25rem;
  .version {
    font-size: inherit;
    margin-right: 0.25rem;
  }
  .switch-buttons {
    display: flex;
    border-radius: var(--border-radius1);
    border: 1px solid var(--color2);
    background: var(--color3);
  }
  .switch {
    height: 0.75rem;
    aspect-ratio: 1 / 1;
    margin: unset;
  }
  .switch.active {
    margin: 0.125rem;
    background: var(--success);
    border-radius: 50%;
  }
}
/* Links inside the dropdown */
.provider-menu:hover,
.provider-menu:has(.provider-change:focus-within) {

  .providers {
    opacity: 1;
    outline: 1px solid var(--color2);
    max-height: 1000px;

    .provider {
      opacity: 1;
    }

    .provider:hover,
    .provider:has(.provider-name.selected) {
      background-color: var(--color1);
    }
  }
}

.media-download {
  display: none;
}