@import url('https://fonts.cdnfonts.com/css/beyonders');

section {
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  gap: 8px;
}

.form-container {
  display: grid;
  width: 100%;
  gap: 12px;
  padding: 24px;
  margin: 16px 0;
  border-block: solid 1px var(--color3);
  border-radius: 24px;
  background: var(--color5);
}

.form-container h1 {
  font-size: 24px;
  font-style: italic;
  font-family: 'Beyonders', var(--font-style1);
  text-shadow: 0 0 8px #e6e6fa3b;
}

.form-container label {
  font-weight: 600;
  font-size: 14px;
}

.form-container .flow-row {
  gap: inherit;
}

.form-container .form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 2px;
  width: 100%;
}

.form-container {

  input,
  select,
  button {
    width: 100% !important;
    height: 36px;
    font-size: 14px !important;
    font-weight: 500;
    padding: 0 10px;
    background-color: #242433 !important;
    border: 1px solid #242433 !important;
    border-radius: 8px !important;
    box-shadow: none;
    box-sizing: border-box;
    transition: border 0.2s;
  }

  input:focus,
  select:focus {
    border-color: var(--color1) !important;
  }
}

.number-control {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.number-control input {
  flex: 1;
}

.number-control button {
  width: auto !important;
  aspect-ratio: 1 / 1;
  padding: unset;
  font-size: 24px !important;
  font-weight: 300;
  cursor: pointer;
}

.form-actions {
  display: flex;
  gap: inherit;
  margin-top: 8px;
  width: 100%;

  button {
    border: none !important;
    font-size: 15px !important;
    font-weight: 600 !important;
  }
}

#form {
  display: flex;
  flex-wrap: wrap;
  gap: inherit;
}

.form-group {
  min-width: 45%;
  flex: 1 1;
}


.form-group:has(#name) {
  min-width: 70%;

  #name {
    padding-inline-end: unset;
    flex: 1;
  }

  .x-icon {
    position: relative;
    top: unset;
    right: unset;
    translate: unset;
    rotate: unset;
    width: unset !important;
    height: 24px;
    min-height: unset;
    margin: 6px;
    padding: 4px;
    border-radius: 6px !important;
    background: var(--color1) !important;
    font-size: 13px !important;
  }
  
  &:has(input:not(:placeholder-shown)) .x-icon {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }
}

#form:has(#year-input.hidden) { 
  .form-group:has(#maxsize) {
    min-width: 108px;
    max-width: 160px;
  }
}

.tv-input {
  display: flex;
  gap: inherit;
}

#year-input.hidden,
.tv-input.hidden {
  display: none;
  visibility: hidden;
}

#scrape {
  background: var(--color1) !important;
}

#scrape.loading {
  filter: saturate(0.2);
}

#reset {
  background: var(--warn) !important;
}

#status-info:not(:has(.message)) {
  max-height: 0;
}

#status-info {
  display: flex;
  align-items: center;
  width: fit-content;
  max-height: 500px;
  transition: max-height 0.2s;

  .icon {
    font-size: 15px !important;
    display: grid;
    place-content: center;
    height: 100%;
    width: auto;
  }

  .message {
    height: 100%;
    min-height: 32px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px dashed var(--color3);
    border-radius: 8px;
    background: #141421;
    overflow: hidden;
    font: normal 600 12px 'Jetbrains Mono', monospace;
    text-shadow: none;
    animation: fadeIn 0.2s;
  }

  .message.error {
    color: #ff5855;
    background: #2f111a;
    border: 1px dashed;
  }

  .message.warn {
    color: orange;
  }

  .message.success {
    /* color: var(--success); */
    color: #34d399;
    background: #072920;
    border: 1px dashed;
  }

  .pulse-container {
    position: relative;
    display: flex;
    aspect-ratio: 1 / 1;
    align-items: center;
    justify-content: center;
  }

  .pulse-dot {
    height: 8px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: rgb(16 185 129);
  }

  .pulse {
    position: absolute;
    animation: pulse 2s infinite forwards;
  }
}


@keyframes pulse {
  0% {
    scale: 0.4;
    opacity: 1;
  }

  100% {
    scale: 2.4;
    opacity: 0;
  }
}

.raw-output {
  width: 100%;
  margin: 16px 0;
}

pre {
  background: #191930;
  padding: 16px;
  margin: 8px 0;
  max-height: 400px;
  overflow-x: auto;
  border-radius: 18px;
  font-size: 12px;
  font-family: "Jetbrains Mono", monospace;
  line-break: anywhere;
  white-space: break-spaces;
}

/* .result-card {
  background: #1d1d34;
  border: 1px solid #383852;
}
.result-card button {
  background-color: #3a3a5c;
} */

.results-container {
  display: inherit;
  flex-direction: inherit;
}

.results-container:has(.result-row),
.results-container:has(.message) {
  gap: inherit;
}

.results-table:not(:has(.result-row)) {
  opacity: 0;
  padding: 2px;
}

.results-table {
  width: 100%;
  height: auto;
  opacity: unset;
  padding: 12px;
  /* border: 1px solid #383852; */
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--color5);
  transition: padding 0.15s, height 0.15s;
}

.results-table table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
  /* background: #1c1c30; */
  overflow: hidden;
}


.results-table tbody {
  display: grid;
  gap: 8px;
}

.result-row {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 8px;
  border-radius: 12px;
  background-color: var(--color3);
  animation: fadeIn 0.2s, appearing 0.2s;
}

.results-table th,
.results-table td {
  /* border-bottom: 1px solid #383852; */
  text-align: left;
}

.results-table th {
  background: #242448;
}

.file-cell {
  display: flex;
  flex: 1 1;
  min-width: 65%;
  color: #ccc;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.file-name {
  font-size: 14px;
  overflow-x: auto;
  overflow-y: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  line-break: anywhere;
}

.file-flags {
  display: flex;
  /* font-size: 12px; */
  color: var(--font-color2);
  font: normal 600 12px 'Jetbrains Mono';
  gap: 3px;
}

.action-cell {
  display: flex;
  align-items: center;
  gap: 8px;

  a {
    text-decoration: none;
  }

  button {
    height: 36px;
    aspect-ratio: 1/1;
    border-radius: 8px;
    font-size: 16px;
    color: #a9a9d5;
    background-color: var(--color1) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: unset;
    cursor: pointer;
    transition: background 0.2s ease;
  }

  button:hover {
    background-color: #2f2f46 !important;
  }
}

.action-cell .btn {
  width: 32px;
  height: 32px;
  display: grid;
  place-content: center;
}

#search-field {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: #242433;
  border-radius: 8px;
  overflow: hidden;
  outline-color: transparent;
  transition: outline 0.2s;

  #name:focus {
    border-color: transparent !important; 
  }

  &:has(#name:focus) {
    outline: 1px solid var(--color1);
  }
  &:has(.suggestion-container) {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
    
    #name {
      max-height: unset;
      height: 48px;
    }

    .x-icon {
      margin: 12px;
    }
  }
}

.form-group:has(.suggestion-container) {
  min-width: 100% !important;
}

.suggestion-container {
  width: 100%;
  max-height: 120px;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 8px;
  padding-inline: 8px;
  padding-block: 2px 8px;

    .result { 
      background: #1e1e2b !important;
      border: 1px solid #ffffff1a !important;
      border-radius: var(--border-radius1);
      text-wrap: nowrap;
      text-align: unset;
      cursor: pointer;
      padding: 6px;
      height: 72px;
      scroll-snap-align: start;
      display: flex;
      gap: 8px;
      animation: fadeIn 0.2s forwards;

      .img-container {
        aspect-ratio: 2/3;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
        display: flex;
      }

      img {
        object-fit: contain;
        width: 100%;
        font-size: 8px;
        white-space: wrap;
        background: var(--font-color3);
      }

      p {
        display: flex;
        align-items: center;
        font-size: 12px;
        white-space: wrap;
        flex: 1 1;
      }
    }
}

@media (max-width: 767px) {

  section {
    gap: 6px;
  }

  .form-container {
    padding: 12px;
    border-radius: 16px;
    gap: 8px;
  }

  .form-container h1 {
    font-size: 16px;
    text-shadow: 0 0 5px #E6E6FA4F;
  }

  .form-container label {
    font-size: 14px;
  }

  .form-container {

    & input,
    & select,
    & button {
      height: 30px;
      font-size: 12px !important;
      font-weight: 500;
      padding: 0 8px;
      border-radius: 6px !important;
    }
  }

  .number-control button {
    font-size: 20px !important;
    font-weight: 300;
  }

  .form-group:has(#name) {
    min-width: 60%;

    .x-icon {
      margin: 5px;
      height: 20px;
    }
  }

  .form-actions {
    margin-top: 4px;
    gap: 8px;

    button {
      font-size: 13px !important;
    }
  }

  h3 {
    font-size: 18px;
  }

  #status-info {

    .message {
      min-height: 30px;
      padding: 4px 8px;
      font-size: 11px;
      border-radius: 6px;
    }

    .icon {
      font-size: 12px !important;
    }
  }

  .results-table {
    padding: 8px;
    border-radius: 16px;
  }

  .result-row {
    padding: 8px;
    gap: 6px;
    border-radius: 10px;
  }

  .file-name {
    font-size: 12px;
  }

  .file-flags {
    gap: 3px;
    font: normal 600 10px 'Jetbrains Mono';
  }

  .file-cell {
    gap: 2px;
  }

  .action-cell {
    gap: 4px;

    button {
      border-radius: 6px;
      height: 30px;
      font-size: 12px;
    }
  }

  pre {
    font-size: 10px;
    border-radius: 16px;
    padding: 10px;
  }

  #search-field {
    border-radius: 6px;
    &:has(.suggestion-container) {
      & #name {
        height: 36px;
      }

      .x-icon {
        margin: 8px;
      }
    }
  }

  .suggestion-container {
    gap: 4px;
    max-height: 96px;
    padding-block-start: 0px ;
    .result {
      gap: 6px;
      height: 56px;
      padding: 4px;
    }
  }
}
