.library-control {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 1.4rem 2rem 0;
  z-index: 2;
}

#control-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  height: 48px;
  background: #1A589E;
  border-radius: var(--border-radius1);
}

.control-modal.show {
  display: flex;
  opacity: 1;
  scale: 1;
  visibility: visible;
  transition: scale 0.2s, opacity 0.2s ease-in-out;
}

.control-modal {
  --spacing: 1.2;
  --padding: 18px;
  visibility: hidden;
  display: flex !important;
  flex-wrap: wrap;
  flex-direction: column;
  gap: calc(var(--padding1) * var(--spacing));
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: left;
  width: 90%;
  height: unset !important;
  max-width: 32rem;
  padding: var(--padding);
  opacity: 0;
  scale: 0;
  background: linear-gradient(60deg, var(--bg-color) 50%, #151824 100%) !important;
  border: 1px solid var(--border-color);
  border-radius: 24px;
  box-shadow: 0 5px 50px 25px rgba(0, 0, 0, 0.5);
  transition: scale 0.2s, opacity 0.2s ease-in-out;

  button {
    height: 36px;
    background: var(--color1);
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    border-radius: var(--border-radius2) !important;
    box-shadow: none !important;
  }
  
  p {
    font-size: 14px;
  }

  .import-export {
    display: flex;
    flex-direction: column;
    gap: inherit;
  }
  
  .import, .export {
    display: flex;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius1);
    padding: 8px;
    background-color: var(--color5);

    div {
      width: 100%;
    }
    
  }
  
  #import, #export {
    width: unset;
    aspect-ratio: 1/1;
  }

  #clear-all {
    background-color: var(--warn);
  }

  label:has(#merge-option) {
    display: flex;
    gap: var(--padding1);
    padding: var(--padding1);
    padding-left: 0;
    padding-bottom: 0;
  }
}

#bookmarks, #history {
  .grid-container .empty {
    display: none;
  }

  .grid-container.loading:not(:has(.grid-item)) {
    display: flex;
    .filler {
      width: 100%;
    }
  }
  
  .grid-container.empty:not(:has(.grid-item)) {
    display: flex !important;
    
    .empty {
      display: flex;
      flex-direction: column;
      place-content: center;
      width: 100%;
      /* aspect-ratio: 1 / 0.2; */
      background: var(--color5);
      border-radius: var(--border-radius1);
      /* color: #757592; */
      color: var(--font-color3);
      text-shadow: none;
    }

    .icon {
      display: flex;
      width: 2.4rem;
      place-content: center;
      aspect-ratio: 1 / 1;
      font-size: 1.8rem;
      margin: 0 auto;
    }

    .message {
      margin: 0 auto;
    }
  }
}

#bookmarks {
  .grid-container:not(:has(.grid-item)) {
    height: 280px;
  }
  .grid-item.placeholder {
    aspect-ratio: 1 / 1.64;
  }
}

#history .grid-container:not(:has(.grid-item)) {
  height: 154px;
}

@media (max-width: 767px) {
  #history {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(6.5rem, 1fr));
    }
  }
  
  #bookmarks, #history {
    .grid-container.empty {
      .icon {
        font-size: 24px;
        width: 30px;
      }
      .message {
        font-size: 14px;
      }
    }
  }

  #history .grid-container:not(:has(.grid-item)) {
    height: 108px !important;
  }

  #bookmarks {
    .grid-container:not(:has(.grid-item)) {
      height: 190px;
      gap: 6px;
    }
  }

  .library-control {
    bottom: 80px;
    right: 1rem;
    margin: unset;
  }

  .control-modal {
    margin: 0 auto;
    max-width: 90%;
    border-radius: 18px;
    --padding: 12px;
    --spacing: 1.2;

    h2 {
      font-size: 18px;
    }

    p {
      font-size: 13px;
    }

    button {
      height: 32px;
      font-size: 13px;
      border-radius: var(--border-radius1) !important;
    }
  }
}
