#bookmarks, #history {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

    .empty {
      display: none;
    }
  }
  .grid-container.loading:not(:has(.grid-item)) {
    display: flex;
    .filler {
      width: 100%;
    }
  }
  
  .grid-container.empty:not(:has(.grid-item)) {
    display: flex !important;
    
    .empty {
      display: flex;
      flex-direction: column;
      place-content: center;
      width: 100%;
      /* aspect-ratio: 1 / 0.2; */
      background: var(--color5);
      border-radius: var(--border-radius1);
      /* color: #757592; */
      color: var(--font-color3);
      text-shadow: none;
    }

    .icon {
      display: flex;
      width: 2.4rem;
      place-content: center;
      aspect-ratio: 1 / 1;
      font-size: 1.8rem;
      margin: 0 auto;
    }

    .message {
      margin: 0 auto;
    }
  }
}

#bookmarks {
  .grid-container:not(:has(.grid-item)) {
    height: 280px;
  }
  .grid-item.placeholder {
    aspect-ratio: 1 / 1.64;
  }
}

#history .grid-container:not(:has(.grid-item)) {
  height: 154px;
}

@media (max-width: 767px) {
  #bookmarks, #history {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(6.5rem, 1fr));
    }

    .grid-container.empty {
      .icon {
        font-size: 24px;
        width: 30px;
      }
      .message {
        font-size: 14px;
      }
    }
  }

  #history .grid-container:not(:has(.grid-item)) {
    height: 108px !important;
  }

  #bookmarks {
    .grid-container:not(:has(.grid-item)) {
      height: 190px;
    }
    .grid-item {
      min-width: unset;
      aspect-ratio: unset !important;
    }
    .grid-item:not(.placeholder) {
      height: auto !important;
    }
  }
}
