@import url('https://fonts.cdnfonts.com/css/reverie');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

#explore-content {
  min-height: unset;
  gap: 32px;
}

.explore-section {
  width: 100%;
  display: grid;
  gap: 12px;
  
  h2 {
    font: italic bold 24px 'Reverie', sans-serif;
    filter: brightness(0.8);
    text-shadow: none;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 8px;
  width: 100%;
}

.explore-card {
  display: grid;
  place-content: center;
  /* border: 1px solid #ffffff1a; */
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: border 0.2s, scale 0.2s;

  h3 {
    font: normal calc(7 * 100) 22px "Raleway";
    /* letter-spacing: 0.5px; */
    text-shadow: 0 0 8px #000c;
    text-align: center;
  } 
}

.explore-card:hover {
  border-color: var(--color2);
  scale: 0.97;
}

.explore-card:not(:has(img)) {
  background: var(--color5);
}

.backdrop {
  mask-image: linear-gradient(20deg, #0006, #000a);
  position: absolute;
  width: 100%;
  z-index: -1;
}

@media (max-width: 767px) {
  #explore-content {
    gap: 20px;
  }
  .explore-section {
    gap: 8px;

    h2 {
      font-size: 22px;
    }
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 6px;
  }

  .explore-card {
    border-radius: 6px;
  }

  .explore-card h3 {
    font-size: 18px;
  }
}