@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

#explore-content {
  min-height: unset;
  gap: 32px;
}

.explore-section {
  width: 100%;
  display: grid;
  gap: 12px;
  
  h2 {
    font: normal bold 26px 'Reverie', sans-serif;
    text-shadow: none;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 10px;
  width: 100%;
}

.explore-card {
  display: grid;
  place-content: center;
  background: var(--color5);
  border: 1px solid #ffffff1a;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: border 0.2s, scale 0.2s;

  h3 {
    font: italic calc(8*100) 22px "Playfair Display";
    /* text-shadow: 0 0 8px #000c; */
    /* text-shadow: none; */
    text-align: center;
    z-index: 1;
    --color: var(--color5);
    --width: 0.5px;
    --neg-width: calc(var(--width) * (-1));
    text-shadow: var(--neg-width) var(--neg-width) 0 var(--color), var(--width) var(--neg-width) 0 var(--color), var(--neg-width) var(--width) 0 var(--color), var(--width) var(--width) 0 var(--color);
  }

}

.explore-card[data-type="anime"] {
  img {
    top: -15px;
  }
}

.explore-card:hover {
  border-color: var(--color2);
  scale: 0.95;
}

/* .explore-card:not(:has(img)) {
  background: var(--color5);
} */

.backdrop {
  mask-image: linear-gradient(20deg, #0006, #000a);
  position: absolute;
  width: 100%;
  z-index: 0;
}

/* ---------- INPUT ---------- */
.input-wrapper {
  position: relative;
}

.select-input {
  width: 100%;
  font-weight: inherit;
  padding: 8px 32px 8px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.15s ease;
}

.select-input:focus {
  border-color: #0066ff;
}

.clear-btn {
  position: absolute;
  right: 6px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  padding: 2px;
  opacity: 0.6;
  aspect-ratio: 1/1;
  height: 16px;
}

.clear-btn:hover {
  opacity: 1;
}

/* ---------- DROPDOWN LIST ---------- */
.select-list {
  display: none;
  position: absolute;
  z-index: 20;
  width: 100%;
  max-height: 160px;
  overflow-y: auto;
  border: 1px solid var(--color3);
  border-radius: 8px;
  background: var(--color5);
  margin-top: 4px;
  animation: fadeIn 0.15s ease-out;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.select-list.open {
  display: block;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-3px); }
  to   { opacity: 1; transform: translateY(0); }
}

.list-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 8px;
  cursor: pointer;
  border-radius: 6px;
  margin: 6px;
  gap: 4px;
  transition: filter 0.2s, background 0.2s ease;

  .abbr {
    display: flex;
    align-items: center;
    filter: brightness(0.5);
    text-shadow: none;  
  }
}

.list-item:hover, .list-item.hover {
  filter: brightness(1.2);
  background: #2238;
}

.list-item.active {
  background: var(--color3);
  color: var(--progress-color);
  font-weight: 500;
}


@media (max-width: 767px) {
  #explore-content {
    gap: 20px;
  }
  .explore-section {
    gap: 8px;

    h2 {
      font-size: 22px;
    }
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 8px;
  }

  .explore-card {
    border-radius: 8px;
  }

  .explore-card h3 {
    font-size: 18px;
  }
  

  .list-item {
    padding: 6px;
    margin: 2px;
    font-size: 12px;
  }

  /* .clear-btn {
    font-size: 12px;
  } */
}

@media (max-width: 400px) {
  #explore-content {
    gap: 28px;
  }

  .explore-section {
    gap: 12px;
  }
  
  .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }

  .explore-card {
    height: 96px;
    width: 100%;
    aspect-ratio: unset;
    align-items: center;
    justify-content: start;
    padding: 24px;

    h3 {
      font-weight: 700;
    }
  }

  .backdrop {
    height: 100%;
    object-fit: cover;
    object-position: 0px -20px;
  }
}