@import url('https://fonts.cdnfonts.com/css/reverie');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

#explore-content {
  min-height: unset;
  gap: 32px;
}

.explore-section {
  width: 100%;
  display: grid;
  gap: 12px;
  
  h2 {
    font: normal bold 26px 'Reverie', sans-serif;
    filter: brightness(0.8);
    text-shadow: none;
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 10px;
  width: 100%;
}

.explore-card {
  display: grid;
  place-content: center;
  background: var(--color5);
  border: 1px solid #ffffff1a;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: border 0.2s, scale 0.2s;

  h3 {
    font: italic calc(7*100) 22px "Playfair Display";
    /* text-shadow: 0 0 8px #000c; */
    /* text-shadow: none; */
    text-align: center;
    z-index: 1;
    --color: var(--color5);
    --width: 0.5px;
    --neg-width: calc(var(--width) * (-1));
    text-shadow: var(--neg-width) var(--neg-width) 0 var(--color), var(--width) var(--neg-width) 0 var(--color), var(--neg-width) var(--width) 0 var(--color), var(--width) var(--width) 0 var(--color);
    filter: brightness(0.8);
  }

}


.explore-card:hover {
  border-color: var(--color2);
  scale: 0.97;
}

/* .explore-card:not(:has(img)) {
  background: var(--color5);
} */

.backdrop {
  mask-image: linear-gradient(20deg, #0006, #000a);
  position: absolute;
  width: 100%;
  z-index: 0;
}

@media (max-width: 767px) {
  #explore-content {
    gap: 20px;
  }
  .explore-section {
    gap: 8px;

    h2 {
      font-size: 24px;
    }
  }

  .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    gap: 8px;
  }

  .explore-card {
    border-radius: 8px;
  }

  .explore-card h3 {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  #explore-content {
    gap: 28px;
  }

  .explore-section {
    gap: 12px;
  }
  
  .cards-container {
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }

  .explore-card {
    height: 96px;
    width: 100%;
    aspect-ratio: unset;
    align-items: center;
    justify-content: start;
    padding: 24px;
  }

  .backdrop {
    height: 100%;
    object-fit: cover;
    object-position: 0px -20px;
  }
}