#search-results {
  margin: 0;
  height: fit-content;
  width: 100%;

  .results-container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: 16px 1.4rem 1.4rem 1.4rem;
  }

  .results-container:has(.expandable.expanded) {
    padding: unset !important;
    align-items: center;
  }
}

.search-title {
  font-size: 18px;
  margin: 16px 1.4rem 0rem;
  padding: 0;
  display: grid;
  gap: 2px;
}

.count {
  font-size: 14px;
  color: var(--font-color3);
}

section:not(.in-view) .expand-arrow {
  transform: rotate(90deg);
}

#search-results {

  section {
    display: none;
    min-height: unset;
    border: 1px solid var(--border-color);
    border-radius: var(--brad16);
    /* flex-wrap: wrap;
    flex: 1; */
    gap: unset;
    justify-content: flex-start;
    transition: padding 0.2s;
    overflow: hidden;

    .grid-container {
      display: flex;
      justify-content: unset;
      overflow: scroll;
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      height: 0;
      transition: opacity 0.2s, height 0.2s ease-in-out;

      .grid-item {
        height: 280px;
        aspect-ratio: 1/1.6;
      }
    }
  }

  section:has(.expanded) {
    padding: var(--padding1) !important;
  }

  section:not(.expanded) {
    margin: 0;
  }
  
  section.in-view:not(.expanded) {
    padding: 0px;
    border: unset;

    .section-header {
      padding-top: unset !important;
    }
  }

  section:not(.in-view) {
    --pad: 8px;
    padding: var(--pad);
    padding-inline-start: calc(var(--pad) * 2);
    .section-header {
      padding-top: unset !important;
    }
  }

  section.in-view {
    gap: 12px;
    overflow: visible;
    
    .grid-container {
      pointer-events: all;
      opacity: 1;
      visibility: visible;
      height: auto;
      transition: opacity 0.2, height 0.2s ease-in-out;
    }
  }

  section:has(.grid-item, .profile-item) {
    display: flex;
  }
}

#search-results section h3 {
  font-size: 20px;
  width: 100%;
}

.expandable .profiles {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  /*justify-content: space-between; */
}

.profile-item {
  visibility: visible;
  display: flex;
  gap: 8px;
  height: 8rem;
  max-width: 100%;
  padding: var(--padding1);
  overflow: hidden;
  border-block: 1px solid var(--border-color);
  border-radius: var(--brad16);
  background-color: var(--color5);
  transition: scale 0.3s, box-shadow 0.3s, border 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.profile-item:hover {
  scale: 0.95;
  box-shadow: 0 6px 15px rgb(8, 8, 22);
  cursor: pointer;
}

.profile-item span {
  height: 100%;
  min-width: fit-content;
  aspect-ratio: 1/1.5;
  border-radius: var(--brad8);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.profile-item img {
  width: 100%;
  object-fit: cover;
}

.profile-item-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  height: 100%;
  text-align: left;

  p {
    font-size: 13px;
    line-height: 0.92rem;
  }

  .name {
    font-size: 14px;
    font-weight: bold;
  }
}

@media (max-width: 767px) {
  #search-results {
    border: none;

    .results-container {
      padding: 12px;
      gap: 12px;

      .grid-item {
        height: 190px;
        aspect-ratio: 1 / 1.6 !important;
      }
    }

    section:not(.in-view) {
      --pad: 6px;
    }
  }

  .search-title {
    font-size: 16px;
    margin: 12px 12px 0 12px;
  }

  .count {
    font-size: 12px;
  }

  #search-results section.in-view {
    gap: 8px;
    justify-content: flex-start;
    margin-bottom: 8px;
  }

  #search-results section h3 {
    font-size: 1rem;
    display: block;
    width: 100%;
  }

  .expandable .profiles {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr)) !important;
  }

  .profile-item {
    height: 84px;
    border-radius: var(--brad12);
    /* box-shadow: 0 10px 24px rgba(0, 0, 0, 0.7); */
  }

  .profile-item:hover {
    box-shadow: 0 4px 8px rgb(8, 8, 22);
  }



  .profile-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1.1;
  }


  .profile-item-info {
    p {
      padding: 0 0.2rem;
      font-size: 12px;
      line-height: 0.78rem;
    }

    .name {
      font-size: 13px;
    }
  }
}